.text-input {
  border: none;
  border-bottom: #000000 solid 3px;
  background: transparent;
  width: 100%;
  padding: 3px;
  transition: transform 0.15s;
}

.text-input:focus {
  outline: none;
  transform: scale(1.01);
}

.text-input::placeholder {
  color: #000000;
  font-weight: 700;
}
